{% macro control(name) %}
    <div class="form-group">
        <label for="exampleInputEmail1">{{ form_label(name) }}</label>
        {{ form_widget(name, {'attr': {'class': 'form-control'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(name) }}
        </div>
        <small id="emailHelp" class="form-text text-muted">{{ form_help(name) }}</small>
    </div>
{% endmacro %}