{% import '_macros/form.html.twig' as forms %}

<form>
    {{ forms.control(form.brand) }}
    {{ forms.control(form.model) }}
</form>


{# {{ form_start(form) }} #}
{# {{ form_widget(form) }} #}


{# {{ form_end(form) }} #}
