{% extends 'base.html.twig' %}

{% block title %}New Vehicle{% endblock %}

{% block body %}
    <h1>Create new Vehicle</h1>

    {{ include('panel/vehicle/vehicle/_form.html.twig') }}

    <a href="{{ path('vehicle_vehicle_index') }}">back to list</a>
{% endblock %}
