{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ vehicle.year }}</td>
            </tr>
            <tr>
                <th>NumberPeople</th>
                <td>{{ vehicle.numberPeople }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ vehicle.location }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ vehicle.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicle_vehicle_index') }}">back to list</a>

    <a href="{{ path('vehicle_vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle_vehicle/_delete_form.html.twig') }}
{% endblock %}
